/build/
/debian/.debhelper/generated/
/debian/debhelper-build-stamp
/debian/files
/debian/qualify/
/debian/qualify.*.debhelper
/debian/qualify.substvars
/dist/
/.pc/
/.venv/
*.egg-info
*.log
.pybuild
.pytest_cache
__pycache__
