/build/
/debian/.debhelper/generated/
/debian/debhelper-build-stamp
/debian/files
/debian/python3-qualify/
/debian/python3-qualify.*.debhelper
/debian/python3-qualify.substvars
/dist/
/doc/sphinx/autoapi/
/.pc/
/.venv/
*.egg-info
*.log
.pybuild
.pytest_cache
__pycache__
